.loaginContainer{
  width: 100vw;
  height: 100vh;
  background-image: url('https://testdoc.ptdplat.com/img/login-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .loginBox{
    width: 460px;
    height: 100%;
    margin: 0 auto;
    .loginCenter{
      height: 600px;
      width: 100%;
      background: #fff;
      box-shadow: 0 0 35px #0000000f;
      padding: 35px 45px 20px;
      border-radius: 15px;
    }
  }
}
