.marker_style{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  &.small_circle{
    width: 20px;
    height: 20px;
  }
  .inner{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 118, 0, 1);
    border-radius: 50%;
    &.small{
      width: 15px;
      height: 15px;
    }
    .text{
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .names{
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 36px;
      }
      .values{
        font-size: 12px;
        line-height: 10px;
      }
    }
  }
}
.coordinate{
  .icons{
    font-size: 30px;
  }

}

.informations{
  width: 280px;
  .informationsLeft{
    width: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .informationsRight{
    width: 60%;
    margin-left: 10px;
    height: 100%;
    .names{
      width: 100%;
      font-size: 14px;
      font-weight: bold;
      color: rgba(0, 105, 176, 1);
    }
    p{
      width: 100%;
      font-size: 12px;
      color: rgba(0, 105, 176, 1);
    }
  }
}
